body{
	background: url(../imagenes/principal-valoracion.jpg);
	background-repeat: no-repeat; 
	background-attachment: fixed; 
	background-position: center;
}

.titulo{
	color: white;
}

.container{
	color: white;
}

